<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>table patcher</title>
    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
        font-family: monospace;
        background-color: #2e2e2e;
        color: #fff;
      }
      .w50p {
        width: 49%;
        height: 100%;
      }
      .fl {
        float: left;
      }
      .fr {
        float: right;
      }
      textarea {
        font-family: monospace;
        width: 100%;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <div class="w50p fl">
        put HTML below:
        <textarea id="ta1" rows="10" v-model="text1" placeholder="put some HTML here"></textarea>
      </div>
      <div class="w50p fr">
        here's the patched HTML:
        <textarea id="ta2" class="" rows="10" v-model="text2" readonly></textarea>
      </div>
      <br>
      <div>
        patching:
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked ? "enabled" : "disabled" }}</label>
      </div>
      <iframe sandbox :srcdoc="preview" width="98%" height="1500"></iframe>
    </div>

    <script src="vue.js"></script>
    <script src="../dist/html-table-patcher.umd.js"></script>
    <script>
    const { patcher } = htmlTablePatcher;
    const ta1 = document.getElementById("ta1");
    // Localstorage bits
    let myStorage;
    if (window && window.localStorage) {
      myStorage = window.localStorage;
    }

    // Vue bits
    window.Event = new Vue();
    new Vue({
    el: '#app',
    data: {
      text1: '',
      checked: true
    },
    computed: {
      text2: function () {
        return this.text1 ? patcher(this.text1, {
          cssStylesContent:
            "background: coral; color: black; font-family: monospace; font-size: 16px; line-height: 1; text-align: center;",
          alwaysCenter: true
        }) : ""
      },
      preview: function () {
        return this.checked ? this.text2 : this.text1
      }
    },
    mounted: function () {
      console.log(`082 mounted`);
      // upon mounting, retrieve the existing local storage value, if set
      this.$nextTick(function () {
        // Code that will run only after the entire view has been rendered
        if (myStorage && myStorage.getItem("patcher")) {
          console.log(`086 checking storage`)
          const retrievedVal = JSON.parse(myStorage.getItem("patcher"));
          ta1.value = retrievedVal;
          this.text1 = retrievedVal.val;
          this.checked = retrievedVal.checked;
        }
      })
    },
    watch: {
      text1: function (newVal) {
        if (myStorage) {
          myStorage.setItem("patcher", JSON.stringify({
            val: newVal,
            checked: this.checked
          }, null, 0))
        }
      },
      checked: function (newVal) {
        if (myStorage) {
          myStorage.setItem("patcher", JSON.stringify({
            val: this.text1,
            checked: newVal
          }, null, 0))
        }
      }
    }
    });
    </script>
  </body>
</html>
